/* button styling */
#refresh_button{
  position: absolute;
  right: 20vw;
  background-color: darkorange;
  font-weight: bold;
  width: 25vh;
  height: 7.5vh;
}
#close_window_button{
  position: absolute;
  right: 5vw;
  background-color: darkorange;
  width: auto;
  font-weight: bold;
  width: 25vh;
  height: 7.5vh;
}
#fuelcalcbutton{
  color: black;
  background-color: darkorange;
  font-weight: bold;
}
button{
  background-color: darkorange;
  font-weight: bold;
}

/* navigation bar colour scheme */
.topnav {
  background-color: rgb(37, 36, 36);
  overflow: hidden;
  width: auto;
  font-family:sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/*Sets margin of body to 0 to avoid weird looking padding on edges */
body{
  margin: 0;
}

/* fieldset borders */
.start_location_list{
  width: fit-content;
  border: solid darkorange 5px;
}
.destination_location_list{
  width: fit-content;
  border: solid darkorange 5px;
}
.fuel_calculator_fs{
  width: fit-content;
  border: solid darkorange 5px;
  position: absolute;
  left: 55rem;
  top: 8rem;
  max-width: 25rem;
}
.location_lists{
  min-width: 22.5rem;
  max-width: fit-content;
  border: solid darkorange 5px;
}
.fuelcalc{
  position: absolute;
  right: 5vh;
  border: 3px solid darkorange;
  padding: 2rem;
  color: white;
  font-family: sans-serif;
}

/*font configuration */
h1{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#headerText{
  font-size: larger;
  position: relative;
  left: 3rem;
  color: white;
  font-family: sans-serif;
}